// ===================================
// 
// VARIABLES
// 
// ===================================

// General settings

$breakpoint: 992px;

$bootstrap-theme-colors: (
  "primary":    #0d6efd,
  "secondary":  #6c757d,
  "success":    #198754,
  "info":       #0dcaf0,
  "warning":    #ffc107,
  "danger":     #dc3545,
  "light":      #f8f9fa,
  "dark":       #212529,
  "beets": 		#9a0044
) !default;

// Sidebar settings

$sidebar-width: 260px;
$sidebar-show-width: 100%;
$sidebar-transition: all 0.3s ease;
$sidebar-show: translateX(0) !important;
$sidebar-hide: translateX(-100%) !important;

// Header settings

$header-height: 55px;

// Footer settings

$footer-height: $header-height;

// ===================================
// 
// ESSENTIAL STYLING
// Custom styling further down
// 
// ===================================

// BEETS LAYOUT (page wrapper)

#beets-layout {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

// SIDEBAR

#beets-layout .bl__sidebar {
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100vh;
	min-width: $sidebar-width;
	max-width: $sidebar-width;
	z-index: 1000;
	overflow: auto;
	
	.sidebar__header {
		display: flex;
		align-items: center;
		max-height: $header-height;
		min-height: $header-height;
	}

	.sidebar__body {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.sidebar__footer {
		display: flex;
		align-items: center;
		max-height: $footer-height;
		min-height: $footer-height;
	}

	// Collapsible sidebar
	&.sidebar-collapse {
		// Styling on smaller viewports
		@media (max-width: $breakpoint) {
			min-width: $sidebar-show-width;
			transform: $sidebar-hide;
		}
		// Animate sidebar when showing/hiding
		&.sidebar-show,
		&.sidebar-hiding {
			transition: $sidebar-transition;
		}
		&.sidebar-show {
			transform: $sidebar-show;
		}
		&.sidebar-hiding {
			transform: $sidebar-hide;
		}
	}
}

// BODY

#beets-layout .bl__body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
// Offset to sidebar when not collapsed
#beets-layout > .bl__sidebar + .bl__body {
	margin-left: $sidebar-width;
}
// Offset to sidebar when collapsed on small screens
#beets-layout > .bl__sidebar.sidebar-collapse + .bl__body {
	@media (max-width: $breakpoint) {
		margin-left: 0;
	}
}

// HEADER

#beets-layout .bl__header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	z-index: 800;
	
	// Sticky header
	&.header-sticky {
		position: sticky;
		top: 0;
		right: 0;
		left: $sidebar-width;
	}

	// Collapsible content
	.header-collapse {
		display: none;
		flex-basis: 100%;
		align-items: center;
		overflow: hidden;

		// @include media-breakpoint-up('lg') {
		@media (min-width: $breakpoint) {
			display: flex;
			height: auto !important;
			flex-basis: auto;
		}

		&.showing,
		&.show,
		&.hiding {
			display: block;
		}
	}
}

// MAIN

.bl__main {
	display: flex;
	flex-grow: 1;
}

// FOOTER

#beets-layout .bl__footer {
	display: flex;
	flex-grow: 1;
	align-items: center;
	max-height: $footer-height;
	min-height: $footer-height;
}

// ===================================
// 
// AESTHETIC STYLING
// Edit this to your preference
// 
// ===================================

$gutter-x: 1.5rem; // 24px
$gutter-y: 1rem; // 16px
$gutter-sm-x: $gutter-x / 2; // 12px
$gutter-sm-y: $gutter-y / 2; // 8px
$layout-border-color: #e0e0e0;

// 
// SIDEBAR
// 

$sidebar-bg: #ffffff;
$sidebar-color: inherit;
$divider-opacity: 1;

#beets-layout .bl__sidebar {
	background-color: $sidebar-bg;
	color: $sidebar-color;
	border-right: 1px solid $layout-border-color;

	.sidebar__body {
		padding: $gutter-y $gutter-x;
	}

	.sidebar__header,
	.sidebar__footer {
		padding-left: $gutter-x;
		padding-right: $gutter-x;
	}

	.sidebar__header {
		border-bottom: 1px solid $layout-border-color;
	}

	.sidebar__footer {
		border-top: 1px solid $layout-border-color;
	}

	.sidebar__divider {
		border-color: $layout-border-color;
		opacity: $divider-opacity;
		margin-top: $gutter-y;
		margin-bottom: $gutter-y;
		margin-left: -$gutter-x;
		margin-right: -$gutter-x;
	}	
}

// 
// SIDEBAR NAVIGATION
// 

$nav-accent-custom-color: #012642;

$nav-link-height: 48px;
$nav-link-icon-width: 1.75rem;
$nav-link-icon-opacity: .5;
$nav-link-icon-opacity-active: 1;
$nav-link-bg-active: rgba(0, 0, 0, .05);
$nav-link-fw-active: 600;

$submenu-bg: rgba(0, 0, 0, .05);
$submenu-indicator-color: inherit;
$submenu-indicator-opacity: $nav-link-icon-opacity;
$submenu-indicator-height: .75rem;
$submenu-indicator-width: .75rem;
$submenu-indicator-transition: transform .25s ease-out;
$submenu-indicator-position: right 50% top 50%;
$submenu-indicator-transform-active: rotate(90deg);

#beets-layout .bl__sidebar .sidebar__nav {
	width: 100%;

	// Main menu
	.nav-list {
		margin-left: -$gutter-x;
		margin-right: -$gutter-x;
		padding: 0;
		list-style: none;

		.nav-item {
			display: flex;
		}

		.nav-link {
			display: flex;
			align-items: center;
			width: 100%;
			height: $nav-link-height;
			color: inherit;
			text-decoration: none;
			padding-left: $gutter-x;
			padding-right: $gutter-x;

			.nav-link-icon {
				display: inline-block;
				text-align: start;
				width: $nav-link-icon-width;
				color: inherit;
				opacity: $nav-link-icon-opacity;
			}

			// Nav link hover and active state
			&:hover,
			&.active {
				background-color: $nav-link-bg-active;

				.nav-link-icon {
					opacity: $nav-link-icon-opacity-active;
				}
			}
			&.active {
				font-weight: $nav-link-fw-active;
				opacity: $nav-link-icon-opacity-active;
			}
		}
	}

	// Submenu
	.nav-list__submenu {
		padding: 0;
		list-style: none;
		background-color: $submenu-bg;
		height: 0;
		overflow: hidden;

		.nav-link {
			padding-left: $gutter-x + $nav-link-icon-width;
		}
	}
	.list-item.open > .nav-list__submenu {
		height: auto;
	}
	.nav-link__submenu::after {
		content: '';
		opacity: $submenu-indicator-opacity;
		position: absolute;
		right: $gutter-x;
		width: $submenu-indicator-width;
		height: $submenu-indicator-height;
		@include submenu-indicator($submenu-indicator-color);
		background-position: $submenu-indicator-position;
		background-repeat: no-repeat;
		transition: $submenu-indicator-transition;
	}
	.nav-link__submenu.active::after {
		transform: $submenu-indicator-transform-active;
	}

	// Custom accent color
	&.nav-accent {
		.nav-link.active:not(.nav-link__submenu),
		.nav-list__submenu .nav-link.active {
			color: $nav-accent-custom-color;
		}
	}
	// Theme based accent colors
	@each $color, $value in $bootstrap-theme-colors {
		&.nav-accent-#{$color} {
			.nav-link.active:not(.nav-link__submenu),
			.nav-list__submenu .nav-link.active {
				color: $value;
			}
		}
	}
}

// 
// COMPACT NAVIGATION STYLE
// 

$compact-nav-link-height: $nav-link-height * .75;

#beets-layout .bl__sidebar .sidebar__nav.nav-compact {
	.nav-list .nav-link {
		height: $compact-nav-link-height;
	}
}

// 
// ROUNDED NAVIGATION STYLE
// 

$gutter-rounded-y: $gutter-y / 2;
$gutter-rounded-x: $gutter-x * .5;

#beets-layout .bl__sidebar .sidebar__nav.nav-rounded {
	

	.nav-list {
		margin-left: -$gutter-rounded-x;
		margin-right: -$gutter-rounded-x;

		.list-item:not(:last-of-type) {
			margin-bottom: $gutter-rounded-y / 2;
		}
		
		.nav-link {
			padding-left: $gutter-rounded-x;
			padding-right: $gutter-rounded-x;
			border-radius: 0.5rem;
		}
	}

	.nav-link__submenu.active {
		margin-bottom: $gutter-rounded-y / 2;

	}

	.nav-list__submenu {
		border-radius: var(--bs-border-radius-lg);

		.list-item:not(:last-of-type) {
			margin-bottom: 0;
		}

		// Remove border radius
		.list-item .nav-link{
			border-radius: 0;
		}
		// Add border radius for first nav-link
		.list-item:first-of-type .nav-link:hover,
		.list-item:first-of-type .nav-link.active, {
			border-top-left-radius: var(--bs-border-radius-lg);
			border-top-right-radius: var(--bs-border-radius-lg);
		}
		// Add border radius for last nav-link
		.list-item:last-of-type .nav-link:hover,
		.list-item:last-of-type .nav-link.active {
			border-bottom-left-radius: var(--bs-border-radius-lg);
			border-bottom-right-radius: var(--bs-border-radius-lg);
		}
		// Set padding left and remove default left border
		.nav-link {
			padding-left: $gutter-rounded-x + $nav-link-icon-width;
		}
	}
}

//
// DARK VARIANT
//

$dark-sidebar-color: #ffffff;
$dark-divider-opacity: .2;
$dark-submenu-bg: rgba(0, 0, 0, .3);
$dark-submenu-indicator-color: rgb(255, 255, 255);
$dark-nav-link-opacity: .6;
$dark-nav-link-opacity-active: 1;
$dark-nav-link-icon-opacity: .5;
$dark-nav-link-bg-active: $dark-submenu-bg;

// Sidebar
#beets-layout .bl__sidebar.sidebar-dark {
	color: $dark-sidebar-color;

	.sidebar__divider {
		opacity: $dark-divider-opacity;
	}
}
// Navigation
#beets-layout .bl__sidebar.sidebar-dark .sidebar__nav {
	 .nav-list {
		.nav-link {
			opacity: $dark-nav-link-opacity;
			
			&:hover,
			&.active {
				background-color: $dark-nav-link-bg-active;
			}
			&.active {
				opacity: $dark-nav-link-opacity-active;
			}
		}
	}

	.nav-list__submenu {
		background-color: $dark-submenu-bg;
	}	
	.nav-link__submenu::after {
		@include submenu-indicator($dark-submenu-indicator-color);
	}	
}

// 
// HEADER
// 

$header-transition: height 0.3s ease;

#beets-layout .bl__header {
	padding: $gutter-sm-y $gutter-x;
	background-color: var(--bs-body-bg);
	color: var(--bs-body-color);
	border-bottom: 1px solid $layout-border-color;

	// Dark theme
	&.header-dark {
		border-bottom: 0;
		color: white;
	}

	// Collapsible content
	.header-collapse {
		padding-top: $gutter-sm-y;
		transition: $header-transition;

		// @include media-breakpoint-up('lg') {
		@media (min-width: $breakpoint) {
			padding-top: 0;
		}
	}

	// Navigation list
	.navbar__nav .nav-list {
		margin: 0;
		padding: 0;
		
		.nav-item {
			display: block;
			width: 100%;
			list-style: none;

			// @include media-breakpoint-up('lg') {
			@media (min-width: $breakpoint) {
				display: inline-block;
				width: auto;
			}
		}

		.nav-link {
			color: inherit;
			opacity: 0.75;
			text-decoration: none;
			line-height: 22px;
			padding: $gutter-sm-y 0;
			
			// @include media-breakpoint-up('lg') {
			@media (min-width: $breakpoint) {
				padding: $gutter-sm-y $gutter-sm-x;
			}

			&:hover,
			&.active {
				opacity: 1;
			}
		}
	}
}
// Logo
#beets-layout .header__logo {
	display: flex;
	align-items: center;

	img {
		max-height: $header-height * 0.6;
		max-width: $sidebar-width - (#{$gutter-x * 2});
	}
}

// 
// MAIN
// 

#beets-layout .bl__main {
	background-color: var(--bs-body-bg);
	color: var(--bs-body-color);
}

// 
// FOOTER
// 

#beets-layout .bl__footer {
	padding-left: $gutter-x;
	padding-right: $gutter-x;

	background-color: var(--bs-body-bg);
	color: var(--bs-body-color);
	border-top: 1px solid $layout-border-color;
}